




/* Termina el footer =================================================================*/
.vender {
    color: rgb(52, 79, 121);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.vender p {
    width: 800px;
    height: 80px;
    text-align: justify;
    padding: 15px 15px;
    background-color: #344f79;
    border-radius: 5px;
    color: rgb(243, 242, 242);
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.vender h1 {
    width: 800px;
    height: 50px;
    text-align: center;
    margin-top: 10px;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
}





/* Venta========================================================================================> */

.moldecompra {
    border: black solid 2px;
    background-color: #344f79
}


/* Compra ========================================================================================>  */


.moldeCompra {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px auto 20px auto;
}

.moldeCompra div {
    width: 80%;
    gap: 10px;
    margin: 10px auto 10px auto;

}

.moldeCompra div h2 {
    color: rgb(239, 241, 243);
    text-align: center;
    background-color: #344f79;

}

.TituloCompra {
    color: rgb(239, 241, 243);
    text-align: center;
    background-color: #344f79;
    border-radius: 5px;
}

.contImgCompra img {
    width: 700px;
    border-radius: 5px;
}

.contImgCompra {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contInsDatVendedor {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    border-radius: 5px;
}

.contInsDatVendedor div {
    background-color: #344f79;
    color: rgb(255, 255, 255);
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    border-radius: 5px;

}


.datosVendedor {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: right;
    border: #ffffff solid .2px;
    list-style: none;
    text-decoration: none;
    border-radius: 5px;
    color: #344f79;
    width: 200px;
    height: 200px;
}

.tipo_Costo {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 150px;
    height: 150px;
}

.tipo_Costo li h2 {
    border-radius: 5px;
    border: #ffffff solid 1px;

}

.datosVendedor li img {
    width: 40px;

}

.whapp:hover {
    width: 41px;
    transition: .3s;
}

.contDescCompleta {
    border: #344f79 solid 1px;
    color: #344f79;
    height: auto;
    text-align: left;
    border-radius: 5px;

}

.contDescCompleta p {
    height: auto;

}

.contDescCompleta div p {
    font-size: auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: dark;
}

