@charset "UTF-8";
/*EJEMPLO DE APLICACIÓN: En el header por ejemplo, o footer, o donde queramos:
@include flex(row,wrap,center,center);    // asi se llamaal mixin desde una sass
*/
/*EJEMPLO DE APLICACIÓN: En el header por ejemplo, o footer, o donde queramos:
@include grid(repeat(3,1fr),repeat(5,1), center, center, "h1 h1 h1" "h2 h2 h2" "col col col");    // asi se llamaal mixin desde una sass
*/
/*EJEMPLO DE APLICACIÓN: "none" es para no asignar valor a esa variable 
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heroIndex {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: auto auto auto;
  justify-content: none;
  align-items: none;
  grid-template-areas: "header" "main" "footer";
  justify-content: center;
  align-items: center;
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 0.3fr auto 0.2fr;
  grid-template-rows: auto;
  justify-content: space-between;
  align-items: center;
  grid-template-areas: "enlace navbar inicio";
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
header .enlace img {
  width: 300px;
}
header .enlace img:hover {
  transform: scale(1.02, 1.02);
  transition: 0, 1ms;
}
header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  color: #344f79;
  font-size: 0.9rem;
}
header div ul li {
  list-style: none;
}
header div ul li a {
  text-decoration: none;
  color: #344f79;
  font-size: 0.9rem;
  font-weight: 700;
}
header .navbar li a:hover {
  color: rgb(84, 137, 223);
}
header .inicio li a:hover {
  color: rgb(58, 97, 160);
}

main {
  grid-area: main;
  justify-content: center;
  align-items: center;
}
main .contenedor {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgba(44, 44, 44, 0.5), rgba(54, 54, 54, 0.5019607843)), url(/asset/img/portada.jpg);
  background-size: cover;
  background-position: center center;
}
main #buscador {
  width: 400px;
  height: 35px;
  background-size: 14px;
  text-align: center;
  border-radius: 12px;
  border: transparent;
  border: solid 1px #ccc;
  padding: 10px 10px 10px 30px;
  margin-top: 100px;
  outline: none;
}
main .texto {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 10px;
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
}
main h2 {
  color: rgb(52, 79, 121);
  margin-top: 20px;
  text-align: center;
  text-decoration: double;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}
main .box {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: none;
  gap: 40px 30px;
}
main .box .card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: none;
  align-items: center;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  border: grey solid 0.1px;
}
main .box .card div {
  height: 200px;
  width: 100%;
}
main .box .card div .imgCard {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 5px 5px 0px 0px;
}
main .box .card .leyenda {
  height: auto;
  width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
main .box .card .leyenda h3 {
  font-size: 14px;
  font-weight: 400;
  text-decoration: double;
  color: #344f79;
  padding: 5px 0 5px 0;
}
main .box .card .leyenda h4 {
  font-size: 12px;
  color: white;
  margin: 1px 20px;
  padding: 2px 2px 5px 5px;
  border-radius: 5px 5px 7px 7px;
  background-color: #344f79;
}
main .box .card .leyenda h5 {
  font-size: 10px;
  color: white;
  background-color: #344f79;
  margin: 3px 40px;
  border-radius: 5px 5px 8px 8px;
  padding: 2px 2px 5px 5px;
}
main .box .card a {
  font-style: bold;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  background-color: #344f79;
  padding: 1px 5px 1px 5px;
  border-radius: 5px 5px 10px 10px;
}
main .box .card:hover {
  border: #344f79 solid 3px;
  transform: scale(1.05, 1.05);
  transition: 5ms;
}

footer {
  margin-top: 100px;
  background-color: #e9edf1;
  grid-area: footer;
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 0.5fr;
  justify-content: center;
  align-items: center;
  grid-template-areas: "contacto tel seguinos" "derechos derechos derechos";
}
footer div h3 {
  color: #e9edf1;
  padding: 8px;
  text-align: center;
  margin: 15px 5px;
  background-color: #344f79;
  border-radius: 10px;
}
footer div .contacto {
  grid-area: contacto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
footer div .contacto li {
  list-style: none;
}
footer div .contacto li p {
  color: #344f79;
}
footer div .phone {
  grid-area: tel;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
footer div .phone li {
  list-style: none;
}
footer div .phone li p {
  color: #344f79;
  font-weight: 600;
}
footer div .phone li img {
  width: 40px;
}
footer div .seguinos {
  grid-area: seguinos;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
footer div .seguinos li {
  list-style: none;
}
footer .derechos {
  grid-area: derechos;
}
footer .derechos p {
  text-align: center;
  color: #344f79;
  font-weight: 400;
}
footer .icono-footer {
  width: 40px;
}
footer .icono-footer:hover {
  transform: scale(1.05, 1.05);
  /* transition: 0.3s; */
}

@media (max-width: 1024px) {
  #buscador {
    width: 400px;
  }
  .texto h1 {
    font-size: 1, 1rem;
  }
  .enlace img {
    width: 200px;
  }
  .inicio {
    display: none;
  }
  .navbar li {
    font-size: 14px;
  }
  .footer {
    font-size: 14px;
  }
  .contacto li a img {
    width: 20px;
  }
  .seguinos li a img {
    width: 20px;
  }
  .phone li .tel {
    width: 20px;
  }
  .phone li p {
    text-align: center;
    font-size: 0.8rem;
  }
}
@media (max-width: 425px) {
  #buscador {
    width: 300px;
  }
  .contenedor {
    height: 100vh;
  }
  .texto h1 {
    font-size: 14px;
  }
  .heroIndex {
    display: grid;
    grid-template-columns: 95%;
    grid-template-rows: auto auto auto;
    justify-content: none;
    align-items: none;
    grid-template-areas: "header" "main" "footer";
  }
  .header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
    align-content: center;
  }
  .navbar li a {
    font-size: 0.5rem;
    padding: 10px;
    font-weight: bold;
  }
  .inicio {
    display: none;
  }
  .enlace img {
    width: 200px;
  }
  .derechos p {
    font-size: 0.6rem;
    margin-bottom: 5px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    font-size: 12px;
  }
  .contacto li a img {
    width: 20px;
  }
  .seguinos li a img {
    width: 20px;
  }
  .phone li img {
    width: 20px;
  }
}
@media (max-width: 375px) {
  .card {
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
  }
  .leyenda {
    height: 100px;
  }
  /* Desc */
  .leyenda h3 {
    margin: -3px;
    font-size: 11px;
  }
  /*Tipo (Alquiler o venta)*/
  .leyenda h4 {
    margin-top: 4px;
    font-size: 10px;
    color: rgb(52, 79, 121);
  }
  /*Ubicacion*/
  .leyenda h5 {
    margin: 2px;
    font-size: 10x;
  }
  /*Costo*/
  .leyenda a {
    font-size: 16px;
    text-decoration: solid;
    text-decoration: none;
    color: #fff;
    background-color: #344f79;
    height: 90%;
    border-radius: 5px;
    padding: 2px 2px;
  }
}

/*# sourceMappingURL=style.css.map */
