@charset "UTF-8";
/*EJEMPLO DE APLICACIÓN: En el header por ejemplo, o footer, o donde queramos:
@include flex(row,wrap,center,center);    // asi se llamaal mixin desde una sass
*/
/*EJEMPLO DE APLICACIÓN: En el header por ejemplo, o footer, o donde queramos:
@include grid(repeat(3,1fr),repeat(5,1), center, center, "h1 h1 h1" "h2 h2 h2" "col col col");    // asi se llamaal mixin desde una sass
*/
/*EJEMPLO DE APLICACIÓN: "none" es para no asignar valor a esa variable 
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heroIndex {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: auto auto auto;
  justify-content: none;
  align-items: none;
  grid-template-areas: "header" "main" "footer";
  justify-content: center;
  align-items: center;
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 0.3fr auto 0.2fr;
  grid-template-rows: auto;
  justify-content: space-between;
  align-items: center;
  grid-template-areas: "enlace navbar inicio";
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
header .enlace img {
  width: 300px;
}
header .enlace img:hover {
  transform: scale(1.02, 1.02);
  transition: 0, 1ms;
  cursor: pointer;
}
header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  color: #344f79;
  font-size: 0.9rem;
}
header div ul li {
  list-style: none;
}
header div ul li a {
  text-decoration: none;
  color: #344f79;
  font-size: 0.9rem;
  font-weight: 700;
}
header .navbar li a:hover {
  color: rgb(84, 137, 223);
}
header .inicio li a:hover {
  color: rgb(58, 97, 160);
}

main {
  grid-area: main;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
main .contenedor {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, rgba(44, 44, 44, 0.5), rgba(54, 54, 54, 0.5019607843)), url("../../asset/img/portada.jpg");
  background-size: cover;
  background-position: center center;
}
main .contenedor .contBuscador {
  width: 100%;
  height: auto;
  max-width: 100vh;
  padding: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
main .contenedor .contBuscador .barra-busqueda {
  width: 100%;
  max-width: 700px;
  background: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: none;
  align-items: center;
  border-radius: 50px;
  padding: 0px 20px;
}
main .contenedor .contBuscador .barra-busqueda input {
  background: transparent;
  height: 60px;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 1rem;
  color: #344f79;
}
main .contenedor .contBuscador .barra-busqueda button {
  margin-right: -20px;
  border: 0;
  border-radius: 0px 50% 50% 0px;
  width: 60px;
  height: 60px;
  background: cornflowerbl;
  cursor: pointer;
}
main .contenedor .contBuscador .barra-busqueda button img {
  width: 20px;
}
main .contenedor .contBuscador .barra-busqueda button:hover {
  transform: scale(1.05, 1.05);
  transition: 5ms;
}
main .contenedor .texto {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 15px;
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
}
main h2 {
  color: #344f79;
  margin-top: 20px;
  text-align: center;
  text-decoration: double;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}
main .box {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: none;
  gap: 40px 30px;
}
main .box .card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: none;
  align-items: center;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  border: grey solid 0.1px;
}
main .box .card div {
  height: 200px;
  width: 100%;
}
main .box .card div .imgCard {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 5px 5px 0px 0px;
}
main .box .card .leyenda {
  height: auto;
  width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
main .box .card .leyenda h3 {
  font-size: 14px;
  font-weight: 400;
  text-decoration: double;
  color: #344f79;
  padding: 5px 0 5px 0;
}
main .box .card .leyenda h4 {
  font-size: 12px;
  color: white;
  margin: 1px 20px;
  padding: 2px 2px 5px 5px;
  border-radius: 5px 5px 7px 7px;
  background-color: #344f79;
}
main .box .card .leyenda h5 {
  font-size: 10px;
  color: white;
  background-color: #344f79;
  margin: 3px 40px;
  border-radius: 5px 5px 8px 8px;
  padding: 2px 2px 5px 5px;
}
main .box .card a {
  font-style: bold;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  background-color: #344f79;
  padding: 1px 5px 1px 5px;
  border-radius: 5px 5px 10px 10px;
}
main .box .card:hover {
  border: #344f79 solid 3px;
  transform: scale(1.05, 1.05);
  transition: 5ms;
}

footer {
  background-color: #e9edf1;
  grid-area: footer;
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 0.5fr;
  justify-content: center;
  align-items: center;
  grid-template-areas: "contacto tel seguinos" "derechos derechos derechos";
}
footer div h3 {
  color: #e9edf1;
  padding: 8px;
  text-align: center;
  margin: 15px 5px;
  background-color: #344f79;
  border-radius: 10px;
}
footer div .contacto {
  grid-area: contacto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
footer div .contacto li {
  list-style: none;
}
footer div .contacto li p {
  color: #344f79;
}
footer div .phone {
  grid-area: tel;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
footer div .phone li {
  list-style: none;
}
footer div .phone li p {
  color: #344f79;
  font-weight: 600;
}
footer div .phone li img {
  width: 40px;
}
footer div .seguinos {
  grid-area: seguinos;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
footer div .seguinos li {
  list-style: none;
}
footer .derechos {
  grid-area: derechos;
}
footer .derechos p {
  text-align: center;
  color: #344f79;
  font-weight: 400;
}
footer .icono-footer {
  width: 40px;
}
footer .icono-footer:hover {
  transform: scale(1.05, 1.05);
  /* transition: 0.3s; */
}

.btn, .btn-trabaja {
  background-color: #344f79;
  font-family: "Montserrat", sans-serif;
  color: white;
  border-color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 0.8rem;
  margin-bottom: 20px;
}
.btn:hover, .btn-trabaja:hover {
  border: white solid 3px;
  background: #475e83;
  transform: scale(1.05, 1.05);
  transition: 5ms;
}

main .container {
  width: 50%;
}
main .form-lable, main .form-Check {
  color: #344f79;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
main {
  grid-area: main;
}
main .principalTrabaja {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-color: black solid 3px;
  width: 100%;
  flex-grow: 10px;
  align-content: center;
}
main .principalTrabaja .subPrincipalTrabaja {
  width: 100%;
}
main .principalTrabaja .subPrincipalTrabaja div img {
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 10px;
}
main .enlinea {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-color: black solid 3px;
}
main .enlinea p {
  background-color: #344f79;
  width: 50%;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-justify: auto;
  border-radius: 10px;
  padding: 10px;
}

.vender {
  color: white;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(asset/img/bcknd-vta.jpg) no-repeat center center fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
.vender h1 {
  margin-top: 30px;
  width: 800px;
  height: 50px;
  text-align: center;
  font-size: 26px;
}
.vender p {
  width: 800px;
  height: auto;
  text-align: justify;
  padding: 20px 20px;
  background-color: #344f79;
  border-radius: 5px;
  color: rgb(243, 242, 242);
  font-size: 14px;
  border: solid 0.01px;
  border-color: white;
}
.vender p strong {
  font-size: 1rem;
}
.vender div a input {
  margin: 30px 0px;
}

.moldeCompra {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
.moldeCompra div {
  width: 80%;
  gap: 10px;
  margin: 10px auto 10px auto;
}
.moldeCompra div h2 {
  color: rgb(239, 241, 243);
  text-align: center;
  background-color: #344f79;
}
.moldeCompra .TituloCompra {
  color: rgb(239, 241, 243);
  text-align: center;
  background-color: #344f79;
  border-radius: 5px;
  padding: 5px;
}
.moldeCompra .contImgCompra {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: center;
}
.moldeCompra .contImgCompra img {
  width: 700px;
  border-radius: 5px;
}
.moldeCompra .contInsDatVendedor {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: center;
}
.moldeCompra .contInsDatVendedor div {
  background-color: #344f79;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}
.moldeCompra .datosVendedor {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
  border: #ffffff solid 0.2px;
  list-style: none;
  text-decoration: none;
  border-radius: 5px;
  color: #344f79;
  width: 200px;
  height: 200px;
}
.moldeCompra .datosVendedor li img {
  width: 40px;
}
.moldeCompra .tipo_Costo {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  list-style: none;
  width: 150px;
  height: 150px;
}
.moldeCompra .tipo_Costo li h2 {
  border-radius: 5px;
  border: #ffffff solid 1px;
}
.moldeCompra .whapp:hover {
  width: 41px;
  transition: 0.3s;
}
.moldeCompra .contDescCompleta {
  border: #344f79 solid 1px;
  color: #344f79;
  height: auto;
  text-align: left;
  border-radius: 5px;
}
.moldeCompra .contDescCompleta p {
  height: auto;
  font-size: auto;
}
.moldeCompra ul {
  list-style: none;
}
.moldeCompra a {
  text-decoration: none;
  color: dark;
}

@media (max-width: 1024px) {
  .heroIndex {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    justify-content: none;
    align-items: none;
    grid-template-areas: "header" "main" "footer";
  }
  .navbar {
    gap: 18px;
  }
  .contenedor .contBuscador #buscador {
    width: 500px;
  }
  .enlace img {
    width: 200px;
  }
  .inicio {
    display: none;
  }
  .navbar li {
    font-size: 0.9rem;
  }
  .footer {
    font-size: 14px;
  }
  .contacto li a img {
    width: 20px;
  }
  .seguinos li a img {
    width: 20px;
  }
  .phone li .tel {
    width: 20px;
  }
  .phone li p {
    text-align: center;
    font-size: 0.8rem;
  }
}
@media (max-width: 768px) {
  .contenedor .contBuscador #buscador {
    width: 400px;
  }
  .contenedor .texto h1 {
    font-size: 0.9rem;
  }
  .heroIndex {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    justify-content: none;
    align-items: none;
    grid-template-areas: "header" "main" "footer";
  }
  .header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
    align-content: center;
  }
  .navbar li {
    margin-bottom: 5px;
    gap: 30px;
  }
  .navbar li a {
    font-size: 0.9rem;
    font-weight: bold;
  }
  .inicio {
    display: none;
  }
  .enlace img {
    width: 200px;
  }
  .derechos p {
    font-size: 0.6rem;
    margin-bottom: 5px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    font-size: 12px;
  }
  .subPrincipalTrabaja .enlinea {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
  }
  .subPrincipalTrabaja .enlinea p {
    width: 80%;
  }
}
@media (max-width: 425px) {
  .contenedor .contBuscador #buscador {
    width: 300px;
  }
  .contenedor .texto h1 {
    font-size: 0.8rem;
  }
  .trabaja {
    display: none;
  }
  .heroIndex {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    justify-content: none;
    align-items: none;
    grid-template-areas: "header" "main" "footer";
  }
  .header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
    align-content: center;
  }
  .navbar {
    gap: 10px;
  }
  .navbar a {
    font-size: 0.7rem;
    padding: 5px;
    font-weight: 700;
  }
  .inicio {
    display: none;
  }
  .enlace img {
    width: 200px;
  }
  .derechos p {
    font-size: 0.6rem;
    margin-bottom: 5px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    font-size: 12px;
  }
  .contacto li a img {
    width: 20px;
  }
  .seguinos li a img {
    width: 20px;
  }
  .phone li img {
    width: 20px;
  }
  .enlinea h2 {
    font-size: 1rem;
  }
}
@media (max-width: 375px) {
  .navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .navbar li {
    gap: 10px;
    font-size: 0.6rem;
  }
  .header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  .card {
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
  }
  .leyenda {
    height: 100px;
  }
  /* Desc */
  .leyenda h3 {
    margin: -3px;
    font-size: 11px;
  }
  /*Tipo (Alquiler o venta)*/
  .leyenda h4 {
    margin-top: 4px;
    font-size: 10px;
    color: rgb(52, 79, 121);
  }
  /*Ubicacion*/
  .leyenda h5 {
    margin: 2px;
    font-size: 10x;
  }
  /*Costo*/
  .leyenda a {
    font-size: 16px;
    text-decoration: solid;
    text-decoration: none;
    color: #fff;
    background-color: #344f79;
    height: 90%;
    border-radius: 5px;
    padding: 2px 2px;
  }
}
@media (max-width: 320px) {
  .navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1px;
  }
  .contenedor .contBuscador #buscador {
    width: 250px;
  }
  .contenedor .texto h1 {
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
