@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.heroIndex {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;
}

/* Empieza el header =================================================================*/
.header {
    background-color: #ffffff;
    grid-area: header;
    display: grid;
    align-items: center;
    grid-template-columns: 16rem auto 7rem;
    grid-template-rows: auto;
    grid-template-areas:
        "enlace navbar inicio"
    ;
}

.enlace {
    grid-area: enlace;
    width: 100%;
    justify-items: center;
}

.enlace img {
    width: 100%;
    
}

.navbar {
    grid-area: navbar;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.navbar li a {
    text-decoration: none;
    color: #344f79;
    letter-spacing: 0.5px;
    align-items: center;
    font-size: 1rem;
}


.inicio {
    grid-area: inicio;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.inicio li a {
    text-decoration: none;
    color: #26426e;
    font-weight: 600;

}

header div {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}



.navbar li a:hover {
    color: rgb(84, 137, 223);
}

.enlace img:hover {
    transform: scale(1.02, 1.02);
    transition: 0, 1ms;
}

.inicio li a:hover {
    color: rgb(58, 97, 160);
}

/* MAIN ========================================================================================> */
main {
    grid-area: main;
    border-style: groove none none none;
    height: auto;
    width: 100%;
    margin-bottom: 20px;
}

.contenedor {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(44, 44, 44, 0.5), #36363680), url(../asset/img/portada.jpg);
    background-size: cover;
    background-position: center center;

}

#buscador {
    width: 400px;
    height: 35px;
    background-size: 14px;
    text-align: center;
    border-radius: 15px;
    border: transparent;
    border-bottom: solid 1px #ccc;
    padding: 10px 10px 10px 30px;
    margin-top: 100px;
    outline: none;
}

.texto {
    color: #fff;
    text-align: center;
    width: 80%;
}

main div h2 {
    color: rgb(52, 79, 121);
    margin-top: 20px;
    text-align: center;
    text-decoration: double;
    margin-bottom: 20px;
}

.box {
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 20px 20px;
    justify-content: center;
}

.card {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    border: grey solid 0.1px;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
}

.card:hover {
    border: #344f79 solid 3px;
    transform: scale(1.05, 1.05);
    transition: 5ms;
}

.card div {
    height: 90%;
    width: 100%;
}

.card div img {
    height: 90%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.card div a {
    height: 90%;
    width: 100%;
}

.card div a img {
    height: 90%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.leyenda {
    height: 200px;
    width: 100%;
    border-radius: 0px;
    text-align: center;
}

/* Desc */
.leyenda h3 {
    margin: -3px;
    font-size: 16px;
    font-weight: 200px;
    text-decoration: double;
    color: #344f79;

}

/*Tipo (Alquiler o venta)*/
.leyenda h4 {
    margin-top: 18px;
    font-size: 12px;
    color: rgb(52, 79, 121);
}

/*Ubicacion*/
.leyenda h5 {
    margin: 2px;
    font-size: 10x;
    color: rgb(52, 79, 121);
}

/*Costo*/
.leyenda a {
    font-size: 16px;
    text-decoration: solid;
    text-decoration: none;
    color: #fff;
    background-color: #344f79;
    height: 100%;
    border-radius: 5px;
    padding: 2px 2px;


}

/* Empieza el footer =================================================================*/
.footer {
    background-color: #ccd2db;
    grid-area: footer;
    display: grid;
    align-content: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "contacto phone seguinos"
        "derechos derechos derechos"
    ;
}

.footer h3 {
    color: rgb(239, 241, 243);
    text-align: center;
    margin: 5px 5px;
    background-color: #344f79;
}

.contacto {
    grid-area: conacto;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.contacto li a {
    color: #0e0d0d;
}

.contacto li a img {
    width: 30px;
}

.phone {
    grid-area: phone;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone li img {
    width: 30px;
    /* margin-bottom: -7px; */
}

.seguinos {
    grid-area: seguinos;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.seguinos li {
    width: auto;
}

.seguinos li a {
    color: #0e0d0d;
}

.seguinos li a img {
    width: 30px;
    color: greenyellow;
}

.contacto li a img:hover {
    transform: scale(1.05, 1.05);
    transition: 0.3s;
}

.seguinos li a img:hover {
    transform: scale(1.05, 1.05);
    /* transition: 0.3s; */
}

.derechos {
    grid-area: derechos;
    margin-top: 5px 5px;
}

.derechos h2 {

    font-size: 12px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 5px;
}

/* Termina el footer =================================================================*/
.vender {
    color: rgb(52, 79, 121);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.vender p {
    width: 800px;
    height: 80px;
    text-align: justify;
    padding: 15px 15px;
    background-color: #344f79;
    border-radius: 5px;
    color: rgb(243, 242, 242);
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.vender h1 {
    width: 800px;
    height: 50px;
    text-align: center;
    margin-top: 10px;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
}

.botonUnite{
    margin: 10px;;
        width: 100%;
        padding: 10px;
        background-color: #344f79;
        color: white;
        border-radius: 4px;
        border-color: #fff;
        font-size: 14px;
}

/* Comienza HTML Contacto con nosotros =======================================================================*/



.boton:hover {
    background-color: #6b778a;
}

*/

.botonContactar {
    margin-top: 25px;
    width: 100%;
    padding: 10px;
    background-color: #344f79;
    color: white;
    border-radius: 4px;
    border-color: #fff;
    font-size: 14px;
}

.botonContactar:hover {
    background-color: #6b778a;
} 

main {
    align-items: center;
}

.principalTrabaja {
    display: flex;
    justify-content: space-around;
    border-color: black solid 3px;
    width: 100%;
    flex-grow: 10px;

}

.subPrincipalTrabaja {
    width: 80%;
}

.subPrincipalTrabaja div img {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.enlinea {
    width: 100%;
    gap: 20px;
    margin:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black solid 3px;
    flex-wrap: wrap;
}

.enlinea img{
    margin: 5px;
    width: 100%;
}

.enlinea p {
    background-color: #344f79;
    width: 50%;
    color: white;
    font-size: 14px;
    text-justify: auto;
    border-radius: 10px;
    padding: 10px;
}

.enlinea a input {
    margin-top: 25px;
    width: 100%;
    padding: 10px;
    background-color: #344f79;
    color: white;
    border-radius: 4px;
    border-color: #fff;
    font-size: 14px;

}



/* Venta========================================================================================> */

.moldecompra {
    border: black solid 2px;
    background-color: #344f79
}


/* Compra ========================================================================================>  */


.moldeCompra {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px auto 20px auto;
}

.moldeCompra div {
    width: 80%;
    gap: 10px;
    margin: 10px auto 10px auto;

}

.moldeCompra div h2 {
    color: rgb(239, 241, 243);
    text-align: center;
    background-color: #344f79;

}

.TituloCompra {
    color: rgb(239, 241, 243);
    text-align: center;
    background-color: #344f79;
    border-radius: 5px;
}

.contImgCompra img {
    width: 700px;
    border-radius: 5px;
}

.contImgCompra {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contInsDatVendedor {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    border-radius: 5px;
}

.contInsDatVendedor div {
    background-color: #344f79;
    color: rgb(255, 255, 255);
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    border-radius: 5px;

}


.datosVendedor {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: right;
    border: #ffffff solid .2px;
    list-style: none;
    text-decoration: none;
    border-radius: 5px;
    color: #344f79;
    width: 200px;
    height: 200px;
}

.tipo_Costo {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 150px;
    height: 150px;
}

.tipo_Costo li h2 {
    border-radius: 5px;
    border: #ffffff solid 1px;

}

.datosVendedor li img {
    width: 40px;

}

.whapp:hover {
    width: 41px;
    transition: .3s;
}

.contDescCompleta {
    border: #344f79 solid 1px;
    color: #344f79;
    height: auto;
    text-align: left;
    border-radius: 5px;

}

.contDescCompleta p {
    height: auto;

}

.contDescCompleta div p {
    font-size: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: dark;
}

/* ==============================================MEDIA QUERY=========================================== */

/* INDEX */

@media(max-width:1024px) {

    .enlace {
        width: auto;
    }


    #buscador {
        width: 400px;
    }

    .texto h1 {
        font-size: 1rem;
    }

    .navbar li a {
        font-size: 1rem;
        font-weight: 400;
    }


    .contacto li a img {
        width: 20px;
    }

    .seguinos li a img {
        width: 20px;
    }

}

@media(max-width:768px) {

    #buscador {
        width: 400px;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    }

    .texto h1 {
        font-size: 1rem;
    }

    .enlace img {
        margin: 5px;
        width: 307px;
        height: 70px;

    }

    .enlace {
        width: 307px;
        align-items: center;
    }

    .inicio {
        display: none;
    }

    .navbar li a {
        font-size: 1rem;
        font-weight: 600;
    }

    .header {
        font-size: 1rem;
    }


    .contacto li a img {
        width: 20px;
    }

    .seguinos li a img {
        width: 20px;
    }

    .enlinea p {
        
        width: 70%;
        text-align: center;
        
    }

}


@media(max-width:425px) {

    #buscador {
        width: 20rem;
    }

    .contenedor {
        height: 100vh;
    }

    .texto h1 {
        font-size: 0.8rem;
    }



    .navbar li a {
        font-size: 0.8rem;
        font-weight: 600;
    }



    .inicio {
        display: none;
    }


    .derechos h2 {
        font-size: 10px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }

    .contacto li a img {
        width: 20px;
    }

    .seguinos li a img {
        width: 20px;
    }

    .phone li img {
        width: 20px;
    }

    .enlinea p {
        
        width: 90%;
        text-align: center;
        
    }

}


@media(max-width:375px) {
    .card {
        height: 200px;
        width: 200px;
        margin-bottom: 20px;
    }

    .bus .leyenda {
        height: 100px;

    }

    /* Desc */
    .leyenda h3 {
        margin: -3px;
        font-size: 11px;

    }

    /*Tipo (Alquiler o venta)*/
    .leyenda h4 {
        margin-top: 4px;
        font-size: 10px;
        color: rgb(52, 79, 121);
    }

    /*Ubicacion*/
    .leyenda h5 {
        margin: 2px;
        font-size: 10x;
    }

    #buscador {
        width: 15rem;
    }

    /*Costo*/
    .leyenda a {
        font-size: 16px;
        text-decoration: solid;
        text-decoration: none;
        color: #fff;
        background-color: #344f79;
        height: 90%;
        border-radius: 5px;
        padding: 2px 2px;
    }

    .texto h1 {
        font-size: 0.6rem;
    }


}


@media(max-width:320px) {

    .navbar li a {
        font-size: 0.6rem;
    }

    .texto h1 {
        font-size: 0.55rem;
    }


}