$footer_color: #e9edf1;
$header_color: #fdfeff;
$imagen_fondo: url("https://unsplash.com/es/fotos/b5JniqWPDOo?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink");
$typo-principal: 'Roboto', sans-serif;
$typo-secundaria: 'Montserrat', sans-serif;
$color-base: #344f79;

