header {
    grid-area: header;
    //border-style: none none none solid;
    //border-color: #344f79;
    //border-width: 1px;

    @include grid(0.3fr auto 0.2fr, auto, space-between, center, "enlace navbar inicio");
    background-color: #ffffff;
    font-family: $typo-secundaria;

    .enlace img{
        width:300px;
    }

    .enlace img:hover {
        transform: scale(1.02, 1.02);
        transition: 0, 1ms;
        cursor:pointer;
    }

    nav{
        ul {
            @include flex(row, nowrap, space-between, center);
            gap: 25px;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: $color-base;
                    font-size: .9rem;
                    
                }

            }
        }
    }

    div {
        ul {
            li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: $color-base;
                    font-size: .9rem;
                    font-weight: 700;
                }
            }
        }
    }

    .navbar li a:hover {
        color: rgb(84, 137, 223);
    }


    .inicio li a:hover {
        color: rgb(58, 97, 160);
    }
}