@media(max-width:768px) {

    #buscador {
        width: 400px;
    }

    .texto h1 {
        font-size: 14px;
    }

    .enlace img {
        width: 200px;
    }


    .inicio {
        display: none;
    }

    .navbar li {
        font-size: 14px;
    }

    .footer {
        font-size: 14px;
    }

    .contacto li a img {
        width: 20px;
    }

    .seguinos li a img {
        width: 20px;
    }

}