@media(max-width:1024px) {

    .heroIndex {
        @include grid(100%, auto auto auto, none, none, "header" "main" "footer");
    }
.navbar{
    gap: 18px;
}    


    .contenedor {

        .contBuscador {
            
            #buscador {
                width: 500px;
            }
        }
           

    }

    .enlace img {
        width: 200px;
    }


    .inicio {
        display: none;
    }

    .navbar li {
        font-size: .9rem;
    }

    .footer {
        font-size: 14px;
    }

    .contacto li a img {
        width: 20px;
    }

    .seguinos li a img {
        width: 20px;
    }

    .phone {
        li {
            .tel {
                width: 20px;
            }

            p {
                text-align: center;
                font-size: .8rem;
            }
        }


    }


}